ion-header {
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

ion-content {
  .card-photo {
    width: 100%;
    height: 75px;
    background-color: #fff;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  .content-profile {
    h2 {
      font-size: 15px;
      color: #454545;
    }
    p {
      font-size: 15px;
      color: #454545;
      font-weight: 600;
    }
  }

  .content-cat {
    margin-left: 25px;
  }

  .text {
    border-radius: 20px;
  }
  .content-carroussel {
    width: 100%;
    height: 300px;
    background-color: #eaeaea;
    margin-top: 30px;
    margin-bottom: 80px;
    h2 {
      display: flex;
      justify-content: center;
      padding-top: 15px;
      font-size: 20px;
      font-weight: 600;
    }
    ion-card {
      border-radius: 25px;
    }
  }

  //Selecionar a foto

  #picture__input {
    display: none;
  }
  .picture {
    width: 400px;
    aspect-ratio: 16/9;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #aaa;
    cursor: pointer;
    margin: 0 auto;
  }

  .picture:active {
    color: #777;
    background-color: #ccc;
  }
}

//Botões
.div-btn {
  align-items: flex-end;
  justify-content: end;
}

.btn {
  justify-content: flex-end;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  background-color: #8d0000;
  color: #fff;
  cursor: pointer;
  left: 400px;
}

.div-arrow {
  align-items: flex-start;
  justify-content: flex-start;
}

.arrow {
  width: 33px;
  height: 33px;
  color: #8b0000;
  left: 20px;
  margin-top: 21px;
}
