<ion-header>
  <ion-toolbar>
    <ion-title class="tittle"> Acompanhamento </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-acomp">
    <div class="text">
      <h2>Maçã</h2>
      <p>Organização: <span>Ong de fé</span></p>
      <p>Entregador: <span>Ong de fé</span></p>
    </div>
    <div class="icon-acomp"><ion-icon name="checkbox-outline"></ion-icon></div>
  </div>
  <div class="content-acomp">
    <div class="text">
      <h2>Uva</h2>
      <p>Organização: <span>Ong de fé</span></p>
      <p>Entregador: <span>Ong de fé</span></p>
    </div>
    <div class="icon-acomp"><ion-icon name="checkbox-outline"></ion-icon></div>
  </div>
  <div class="content-acomp">
    <div class="text">
      <h2>Abacaxi</h2>
      <p>Organização: <span>Ong de fé</span></p>
      <p>Entregador: <span>Ong de fé</span></p>
    </div>
    <div class="icon-acomp"><ion-icon name="checkbox-outline"></ion-icon></div>
  </div>
</ion-content>
