<ion-header> </ion-header>

<ion-content>
  <div class="card-photo">
    <div class="photo">
      <img
        src="https://media.istockphoto.com/id/453963935/pt/foto/frutas-e-produtos-hort%C3%ADcolas-no-mercado-da-cidade-de-riga.jpg?s=612x612&w=0&k=20&c=XGQ7TPuJL2MG2G0fr4DlqrwGw-dI12hahLkMN4j6STM="
        alt=""
      />
    </div>
  </div>
  <div class="content-profile">
    <div class="text">
      <h2>NOME</h2>
      <p>SUPERMERCADO FÊNIX</p>
    </div>
  </div>
  <div class="content-profile">
    <div class="text">
      <h2>NÚMERO</h2>
      <p>(81) 9 9999-9999</p>
    </div>
  </div>
  <div class="content-profile">
    <div class="text">
      <h2>EMAIL</h2>
      <p>SUPER@FENIX.COM</p>
    </div>
  </div>
  <div class="content-profile">
    <div class="text">
      <h2>CIDADE</h2>
      <p>UTOPIA</p>
    </div>
  </div>

  <div class="content-carroussel">
    <h2>PRODUTOS JÁ CADASTRADOS</h2>
    <ion-slides [options]="option" class="carroussel">
      <ion-slide>
        <ion-card>
          <img
            src="https://ibassets.com.br/ib.item.image.big/b-b10ccd91eb7a4c3b9ef32a68af0c71a7.jpeg"
          />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img
            src="https://storage.googleapis.com/phygital_files/fazfeira/uploads/produto/uva_sem_semente_vitoria_500g_4346bc0a-df8a-4191-9277-bdbb3dc03609.jpg"
          />
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img
            src="https://centralmaxsupermercados.com.br/imagens_site/34891.jpg"
          />
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
